@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}
/* General scrollbar styles */
*::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
  height: 0px;
}

*::-webkit-scrollbar-track {
  border-radius: 2px; /* Adjust the border radius if needed */
}

*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #0070ff, #3b80ff, #0070ff);
  border-radius: 4px;
  border: 1px solid #fff; /* Adjust the border color if needed */
}

/* Remove the class that hides the scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: block; /* Ensure scrollbar is displayed */
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: auto;  /* IE and Edge */
  scrollbar-width: auto;  /* Firefox */
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto;   /* Ensure vertical scrollbar is visible */
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  max-width: max-content;
  height: auto;
  background-color: #008cff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #008cff;
  transition: opacity 0.3s ease-in-out;
}
/* Custom styles for the select element */
.fancy-select {
  max-height: 150px; /* Limit the height of the dropdown */
  overflow-y: auto; /* Add scrollbar for overflowing options */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Custom styles for the option elements */
.fancy-option {
  background-color: #ffffff;
  color: #333;
  padding: 10px;
  margin: 2px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Option hover effect */
.fancy-option:hover {
  background-color: #e0e0e0;
}

.tooltip:hover .tooltiptext::after {
  opacity: 1;
}

.h-screen-20 {
  height: calc(100vh - 5rem);
}

.main-section {
  @apply mx-2 md:col-span-2 rounded-md mt-1;
}

.leftbar {
  @apply w-2/3 md:block md:w-full md:col-span-1 bg-white fixed md:sticky top-20 pt-5 h-[85vh] rounded-md border;
}

.rightbar {
  @apply hidden md:block md:col-span-1 bg-white sticky top-20 h-[85vh] p-5 rounded-md border;
}
.loader {
  width: 20px;
  height: 20px;
  border: 3px dotted #0ac9ff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #197fc7;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.admin-loader {
  width: 84px;
  height: 84px;
  position: relative;
  overflow: hidden;
}
.admin-loader:before,
.admin-loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #0ac9ff;
  transform: translate(-50%, 100%) scale(0);
  animation: push 2s infinite ease-in;
}





.admin-loader:after {
  animation-delay: 1s;
}
@keyframes push {
  0% {
    transform: translate(-50%, 100%) scale(1);
  }
  15%,
  25% {
    transform: translate(-50%, 50%) scale(1);
  }
  50%,
  75% {
    transform: translate(-50%, -30%) scale(0.5);
  }
  80%,
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}




/* navbar */

/* Hero Sections */
/* about Parking */

.purple-rounded-button{
  background-color: #2b344e;
    border-radius: 20px;
    padding: 8px 16px;
}
.blue-rounded-button{
  background-color: #4092d4;
    border-radius: 20px;
    padding: 4px 8px;
    font-size: 10px;
    margin-top: 4px;
}


.center-div{
  display: flex;
  justify-content: center;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.h1{
  text-align: center;
  font-size:1.8rem;
  color: #2b344e;;
  font-weight: bolder;

}
.h2{
  text-align: center;
  font-size:0.9rem;
  color: #142085;;
  font-weight: bold;

}
.h1-64{
  text-align: center;
  font-size:3rem;
  font-weight: bolder;

}
.p-phone{
  font-size: 11px;
}
.h3-phone{
  font-size: 18px;
}



.footer-parent{
 @apply flex flex-col bg-[#142085] text-white justify-center items-center
}

.upper-footer{
  @apply flex  max-sm:flex-col md:w-[70vw] justify-center  w-[90vw]
 }

 .firstly-upper-footer{
  @apply flex  flex-col md:w-[20vw]  my-2
 }
 .second-upper-footer{
  @apply flex  flex-col md:w-[20vw] my-2 sm:mx-12
 }
 .third-upper-footer{
  @apply flex  flex-col md:w-[20vw] my-2
 }


 .lower-footer{
  @apply flex  max-sm:flex-col   justify-center md:justify-between items-center py-4 md:w-[70vw] 
 }
 
  
 .first-lower-footer{
  @apply flex  justify-center items-center text-center max-sm:w-[90vw]
 }

 
 .second-lower-footer{
  @apply flex  justify-center items-center  max-sm:mt-2
 }
 
 .error-msg{
  @apply  text-red-500 md:text-sm  text-[12px]
 }
 .blue-button{
  background-color: #030a6b;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 10px;
  margin-top: 4px;
  color: white;

 }